<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>E60A793A-1333-49AA-90A4-F54572B0E7DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4855B2C-E8F1-455A-A032-ACB430E8D19C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3D812156-6A07-474D-AB9C-C0D3B6DC0ECF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alexandr Subbotin</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Translate Auto</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Translation copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D4855B2C-E8F1-455A-A032-ACB430E8D19C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>t</string>
				<key>runningsubtext</key>
				<string>Traslating...</string>
				<key>script</key>
				<string># encoding: UTF-8

begin
  require './translate.rb'
  translate('{query}')
rescue Exception =&gt; e
  File.write('debug', e)
end


</string>
				<key>subtext</key>
				<string>Google translate</string>
				<key>title</key>
				<string>Google translate</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E60A793A-1333-49AA-90A4-F54572B0E7DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3D812156-6A07-474D-AB9C-C0D3B6DC0ECF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Google translate to russian - english translations. Auto detect entered language</string>
	<key>uidata</key>
	<dict>
		<key>3D812156-6A07-474D-AB9C-C0D3B6DC0ECF</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>D4855B2C-E8F1-455A-A032-ACB430E8D19C</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E60A793A-1333-49AA-90A4-F54572B0E7DB</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>asubbotin.ru</string>
</dict>
</plist>
